<!-- _po.html.erb -->
<fieldset data-payment-target="additionalFields" data-id="<%= PaymentType.find_by(name: 'Purchase order').id %>" data-type="Purchase order">
  <!-- Fields specific to purchase order payments -->
  <div class="my-5">
    <%= form.label t('.po_number') %>
    <%= form.number_field :po_number, class: "input-field" %>
  </div>
</fieldset>