<tr>
  <th class="text-right pr-2 pt-2" colspan="3">Total:</th>
  <td id="cart-total" class="text-right pt-2 font-bold border-t-2 border-black">
    <%= number_to_currency(cart.total_price) %>
  </td>
</tr>